<!-- Template for choosing between 2 shows -->
<div class="container">
  <div class="row justify-content-between mb-2">
    <div class="col-auto mr-auto">
      <b class="align-middle">{{ show-info-1 }}</b>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary" id="choose-show-one">Select</button>
    </div>
  </div>
  <div class="row justify-content-between mt-2">
    <div class="col-auto mr-auto align-middle">
      <b class="align-middle">{{ show-info-2 }}</b>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary" id="choose-show-two">Select</button>
    </div
  </div>
</div>
