<!-- Template for single sets -->
<!-- This template is rendered from javascript code -->
<div class="card-header" style="display:flex; justify-content:space-between;">
    <h5 class="my-auto"><b>{{ song-title }}</b></h5>
</div>
<div class="container my-2">
    <p>{{ first-text }}</p>
    <p>{{ second-text }}</p>
</div>
