<!-- Template for single sets -->
<!-- This template is rendered from javascript code -->
<div class="card-header" style="display:flex; justify-content:space-between;">
    <h5 class="my-auto"><b>{{ venue-name }}</b></h5>
</div>
<div class="container mt-3">
    <p>{{ venue-title }} is located at latitide {{latitude}}° and longitude {{longitude}}° (click <a href={{link}}>here</a> to open Google maps).<p>
    <p>{{ total }}</p>
</div>
