<!-- Template for single sets -->
<!-- This template is rendered from javascript code -->
<p>Venue: {{ venue }}</p>
<p>City: {{ city }}</p>
<p>State: {{ state }}</p>
<p>{{ total }}</p>
<p>Location: {{ location }}</p>
<!-- target="blank" opens in new tab -->
<a href="{{ link }}" target="_blank"><i>View on google maps</i></a>
