<!-- Template for year header -->
<!-- This template is rendered from javascript code -->
<div class="card-header" style="display:flex; justify-content:space-between;">
    <h5 class="my-auto"><b>{{ year }}</b></h5>
</div>
<div class="container mt-3">
<p>In {{ year }}, the Grateful Dead played {{ total-songs }} total songs over {{ total-shows }} shows in {{ total-venues }} different venues.</p>
<p>They played an average of {{ average-total-songs }} songs per show, and the average length of a song was {{ average-song-length }}.</p>
</div>
